body {
    margin: 0;
    object-fit: cover;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

/* HEADER */

header {
    height: 160px;
    background-color: #EF798A;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    position: relative;
}



.logo {
    height: 100px;
    margin-left: 20px;
    margin-top: 10px;
}

.NavegacionLink {
   position: absolute;
    top: 45px;
    right: 70px;
}

.NavegacionLink li {
    display: inline;
    margin-right: 40px;
   
}

.NavegacionLink li svg {
    fill: #ffffff;
    margin-left: 5px;
}

.NavegacionLink li svg:hover{
    fill: #7B0828;
    transition: 0.5s;

}

.NavegacionLink a {
    font-size: 20px;
}

.NavegacionLink a:hover {
    color: #7B0828;
    transition: 0.5s;
}

a {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    color: #fff;
}

.userlogo {
    height: 40px;

}



/* MAIN */

header {
    height: 190px;
}

main {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.card {
    width: 400px;
    background-color:#fff;
    font-family: 'Nunito', sans-serif;
    border: 3px solid #ddd;
    padding: 30px 20px;
    color: #7B0828;
    
    
}

.foto {
    width: 100%;
    object-fit: cover;
}
.resumen {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 1000px;
}

.card:hover {
    
    border: 3px solid rgba(0,0,0,0.8) ;
    cursor: pointer;
    position: relative;
    transition: all 0.35s linear;
    

}
.oculto {
    display: none;
}

.oculto p {
    color: #ffffff;
    margin: 50px;
}

.card:hover .oculto{
    display: block;
    background-color:rgba(0,0,0,0.8) ;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.boton {
    color: #000000;
    background-color: #4fe989;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-weight: bolder;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 4px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    
}





/* FOOTER */

.PiePagina {
    font-family: 'Nunito', sans-serif;
    background-color: #EDAFB8;
    background-position: center;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
   
   
}

.logofooter {
    height: 70px;
    
}

.social li {
    display: inline;
    margin-right: 20px;
    
}

.social li svg {
    width: 30px;
    fill: #ffffff;
}

.social li svg:hover {
    fill: #7B0828;
    transition: 0.5s;
}



