
header {
    background-color: #EF798A;
}

header img {
    width: 350px;

}

#logo {
    width: 200px;
    height: 200px;
}
#user {
    width: 20px;
}

.main {
    
    padding: 50px;
    color: #7B0828;
    
}

.footer img {
    width: 20px;
    height: 20px;
   
}

li {
    display: table-cell;
    padding: 15px;
}
a {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: white;
}
nav {
    float: right;
    margin-right: 100px;
    margin-top: 50px;
}

img {
    width: 450px;
    height: 350px;
    
}

.resumen {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 1000px;
}

.footer {
    background-color: #EDAFB8;
    margin: 0;
    color: white;
    font-weight: bold;
}

